# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/apps/file-service/kc-gzip-cache
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/reports
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
debug.log

# System Files
.DS_Store
Thumbs.db

# jest-mongodb generated config
globalConfig.json

# Data
/data

# env file
**/.env
**/.local.env

# oc env configuration
/.openshift/configuration/*.encoded.yml

# Cypress.json for local dev only
**/cypress.json
**/cypress.*.local.json
**/cypress.*.local.config.js
**/cypress.*.local.js
apps/tenant-management-webapp-e2e/cypress/

# Artillery csv for environments not to be checked in
# **/artillery.*.csv

apps/*/bin
apps/*/obj
libs/*/bin
libs/*/obj

coveragereport/*

.nx/cache
.nx/workspace-data
.cache

# Github Pages doesn't use the lock file; keep local when working with docs in jekyll
**/Gemfile.lock
