<!doctype html>
<html>
<head>
</head>
<body>
  <main>
    <div>Your verification code is: </div>
    <div>{{ code }}</div>
    <div>This code will expire at {{ formatDate expireAt }}.</div>
    <div>{{ reason }}</div>
  </main>
</body>
</html>
