.Page {
  margin-left: 2rem;
}

.Content {
  display: flex;
}

.Info {
  flex: 1 1 auto;
}

.InfoHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem;
}

.InfoTitle{
  margin: 0;
}

.Sidebar {
  flex: 0 0 auto;
  padding: 1.5rem;
}

@media screen and (min-width: 992px) {
  .Sidebar {
    flex: 0 0 300px;
  }
}

.BoxSet {
  display: flex;
}

.BoxSet .Box {
  flex: 1 1 0;
  border: 1px solid #ccc;
  border-right-width: 0;
  padding: 16px;
}

.BoxSet .Box:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.BoxSet .Box:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right-width: 1px;
}

.BoxValue {
  font-size: var(--fs-4xl);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
}

.BoxTitle {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}
