components:
  schemas:
    ConfigurationRevision:
      type: object
      properties:
        revision:
          type: number
        configuration:
          type: object
        created:
          type: string
          format: date-time
        lastUpdated:
          type: string
          format: date-time
    UpdateOperation:
      type: object
      properties:
        operation:
          type: string
          enum: [UPDATE]
        update:
          type: object
      required: [operation, update]
    ReplaceOperation:
      type: object
      properties:
        operation:
          type: string
          enum: [REPLACE]
        configuration:
          type: object
      required: [operation, configuration]
    DeleteOperation:
      type: object
      properties:
        operation:
          type: string
          enum: [DELETE]
        property:
          type: string
      required: [operation, property]
    CreateRevisionOperation:
      type: object
      properties:
        operation:
          type: string
          enum: [CREATE-REVISION]
      required: [operation]
    SetActiveRevisionOperation:
      type: object
      properties:
        operation:
          type: string
          enum: [SET-ACTIVE-REVISION]
        setActiveRevision:
          type: number
        revision:
          type: number
      required: [operation]

/configuration/v2/configuration/{namespace}:
  parameters:
    - name: namespace
      description: Namespace of the configuration.
      in: path
      required: true
      schema:
        type: string
  get:
    tags:
      - Configuration
    description: Find configuration in a namespace.
    parameters:
      - name: top
        description: Number of results to return in the page, e.g. the top N results.
        example: 10
        in: query
        required: false
        schema:
          type: number
      - name: after
        description: Cursor for retrieving additional pages.  Use the **next** value returned by the previous call.
        example: Mw==
        in: query
        required: false
        schema:
          type: string
      - name: includeActive
        description: Flag indicating if active revision is included.
        in: query
        required: false
        schema:
          type: boolean
      - name: criteria
        description: JSON string of criteria to filter configuration. Use 'useOr' property to switch to OR logic.
        in: query
        required: false
        schema:
          type: string
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                results:
                  type: array
                  items:
                    type: object
                    properties:
                      namespace:
                        type: string
                      name:
                        type: string
                      active:
                        $ref: "#/components/schemas/ConfigurationRevision"
                      latest:
                        $ref: "#/components/schemas/ConfigurationRevision"
                page:
                  type: object
                  properties:
                    next:
                      description: Cursor for requesting the next next page, if any.  Next will be undefined if no more results are available.
                      example: Ng==
                      type: string
                    size:
                      description: The number of results returned.
                      example: 10
                      type: number
                    after:
                      description: |
                        The cursor used to generate the current page. Note - Do not use this as the *after* parameter in subsequent calls,
                        as it will just repeat the set just returned.
                      example: Mw==
                      type: string
      401:
        description: User not authorized to retrieve configuration.

/configuration/v2/configuration/{namespace}/{name}:
  parameters:
    - name: namespace
      description: Namespace of the configuration.
      in: path
      required: true
      schema:
        type: string
    - name: name
      description: Name of the configuration.
      in: path
      required: true
      schema:
        type: string
  get:
    tags:
      - Configuration
    description: Retrieves configuration.
    parameters:
      - name: core
        description: Flag indicating if the core instead of tenant configuration should be retrieved.
        in: query
        required: false
        schema: {}
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                namespace:
                  type: string
                name:
                  type: string
                latest:
                  $ref: "#/components/schemas/ConfigurationRevision"
      401:
        description: User not authorized to retrieve configuration.
  patch:
    tags:
      - Configuration
    description: |
      Updates the configuration revision.
    requestBody:
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/ReplaceOperation"
              - $ref: "#/components/schemas/UpdateOperation"
              - $ref: "#/components/schemas/DeleteOperation"
            discriminator:
              propertyName: operation
              mapping:
                REPLACE: "#/components/schemas/ReplaceOperation"
                UPDATE: "#/components/schemas/UpdateOperation"
                DELETE: "#/components/schemas/DeleteOperation"
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                namespace:
                  type: string
                name:
                  type: string
                latest:
                  $ref: "#/components/schemas/ConfigurationRevision"
      401:
        description: User not authorized to update configuration.
  post:
    tags:
      - Configuration
    description: Creates a new revision of configuration or sets the active revision if the setActiveRevision property is set.
    requestBody:
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/CreateRevisionOperation"
              - $ref: "#/components/schemas/SetActiveRevisionOperation"
            discriminator:
              propertyName: operation
              mapping:
                CREATE-REVISION: "#/components/schemas/CreateRevisionOperation"
                SET-ACTIVE-REVISION: "#/components/schemas/SetActiveRevisionOperation"

    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                namespace:
                  type: string
                name:
                  type: string
                latest:
                  $ref: "#/components/schemas/ConfigurationRevision"
      401:
        description: User not authorized to update configuration.
      400:
        description: The selected revision does not exist
  delete:
    tags:
      - Configuration
    description: Deletes configuration and all its revisions.

    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                deleted:
                  type: boolean
      401:
        description: User not authorized to delete configuration.

/configuration/v2/configuration/{namespace}/{name}/active:
  parameters:
    - name: namespace
      description: Namespace of the configuration.
      in: path
      required: true
      schema:
        type: string
    - name: name
      description: Name of the configuration.
      in: path
      required: true
      schema:
        type: string
    - name: tenant
      description: tenant id for the tenant
      in: query
      required: false
      schema:
        type: string
  get:
    tags:
      - Configuration
    description: Retrieves active configuration.
    parameters:
      - name: core
        description: Flag indicating if the core instead of tenant configuration should be retrieved.
        in: query
        required: false
        schema: {}
      - name: orLatest
        description: Flag indicating if latest configuration should be returned if no there is no active revision.
        in: query
        required: false
        schema:
          type: boolean
      - name: tenant
        description: tenant id for the tenant
        in: query
        required: false
        schema:
          type: string
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigurationRevision"
      401:
        description: User not authorized to retrieve configuration.
      404:
        description: No active revision found.

/configuration/v2/configuration/{namespace}/{name}/latest:
  get:
    tags:
      - Configuration
    description: Retrieves the latest revision of configuration.
    parameters:
      - name: namespace
        description: Namespace of the configuration.
        in: path
        required: true
        schema:
          type: string
      - name: name
        description: Name of the configuration.
        in: path
        required: true
        schema:
          type: string
      - name: core
        description: Flag indicating if core instead of tenant configuration should be retrieved.
        in: query
        required: false
        schema: {}
      - name: tenant
        description: tenant id for the tenant
        in: query
        required: false
        schema:
          type: string
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
      401:
        description: User not authorized to retrieve configuration.

/configuration/v2/configuration/{namespace}/{name}/revisions:
  get:
    tags:
      - Configuration
    description: Retrieves the revisions of configuration.
    parameters:
      - name: namespace
        description: Namespace of the configuration.
        in: path
        required: true
        schema:
          type: string
      - name: name
        description: Name of the configuration.
        in: path
        required: true
        schema:
          type: string
      - name: top
        description: Number of revisions to return in a page.
        in: query
        required: false
        schema:
          type: number
      - name: after
        description: Cursor for retrieving additional pages.
        in: query
        required: false
        schema:
          type: string
      - name: criteria
        description: JSON string of criteria to filter revisions. Use 'useOr' property to switch to OR logic.
        in: query
        required: false
        schema:
          type: string
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: "#/components/schemas/ConfigurationRevision"
                page:
                  type: object
                  properties:
                    after:
                      type: string
                    next:
                      type: string
                    size:
                      type: number
      401:
        description: User not authorized to retrieve configuration.

/configuration/v2/configuration/{namespace}/{name}/revisions/{revision}:
  get:
    tags:
      - Configuration
    description: Retrieves a specific revision of configuration.
    parameters:
      - name: namespace
        description: Namespace of the configuration.
        in: path
        required: true
        schema:
          type: string
      - name: name
        description: Name of the configuration.
        in: path
        required: true
        schema:
          type: string
      - name: revision
        description: Revision number to retrieve.
        in: path
        required: true
        schema:
          type: number
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
      401:
        description: User not authorized to retrieve configuration.
      404:
        description: Revision cannot be found.
