
a.header-link:link {
 color: hsl(206, 100%, 38);
}


a.header-link:active {

  color: hsl(206, 100%, 38);

 }

.logout-icon path {
  stroke: hsl(206, 100%, 38);
  stroke-width: 0.1;
 }

 .logout-icon {
  margin-right: 0.2rem;
  width: 1.5rem;
 }