:root {
  /* font-size */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 3.75rem;
  --fs-7xl: 4.5rem;
  --fs-8xl: 6rem;
  --fs-9xl: 8rem;

  /* font-weight */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* OVERRIDES */
.goa-header {
  padding-left: 1rem;
}

@media (min-width: 640px) {
  .goa-card {
    width: auto;
    flex-basis: auto;
  }
}

.goa-card .card-content {
  padding: 1rem;
}
.goa-card .goa-footer {
  justify-content: flex-end;
}

.goa-card .goa-footer button:first-of-type {
  margin-right: 0;
}

/* Base header margins */
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* Prevent gaps at the start of content  */
main > h1:first-child,
main > h2:first-child,
main > h3:first-child {
  margin-top: 0;
}

h1 ~ h2:first-of-type,
h1 ~ h3:first-of-type,
h1 ~ h4:first-of-type,
h2 ~ h3:first-of-type,
h2 ~ h4:first-of-type,
h3 ~ h4:first-of-type {
  margin-top: 2rem;
}

p {
  margin-bottom: 1rem;
  font-size: var(--fs-base);
}

button {
  display: block;
  width: 100%;
}
@media (min-width: 640px) {
  button {
    display: inline-block;
    width: fit-content;
  }
}
