:root {
  /* font-size */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 1.875rem;
  --fs-3xl: 2.25rem;

  /* font-weight */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* colors */

  --color-primary: #0070c4;
  --color-primary-dark: #004f84;
  --color-primary-link: #0067b5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

hr {
  border-width: 0;
  border-top: 1px solid #ccc;
}

/* == OVERRIDES */
.goa-header {
  padding-left: 1rem;
}
a.goa-link-button,
.goa-button {
  margin-top: 1rem !important;
}
a.goa-link-button,
button.goa-button {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1rem !important;
}
@media (min-width: 640px) {
  a.goa-link-button,
  button.goa-button {
    display: inline-block !important;
    width: fit-content !important;
  }
  a.goa-link-button:last-to-type,
  button.goa-button:last-of-type {
    margin-right: 0;
  }
}
a.goa-link-button.goa--secondary,
a.goa-link-button.goa--secondary:link,
a.goa-link-button.goa--secondary:visited {
  color: var(--color-primary);
}
a.goa-link-button.goa--secondary:hover,
a.goa-link-button.goa--secondary:focus {
  color: var(--color-primary-dark);
}
/* == OVERRIDES END */
