.taskList {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 32px;
  padding-right: 32px;

  .header {
    background: white;
    z-index: 1;
    flex: 0;
    display: flex;
    align-items: baseline;

    > span {
      margin-right: 14px;
    }

    > span:first-child {
      margin-left: 14px;
    }

    > :last-child {
      margin-left: auto;
    }
  }

  .details {
    z-index: 0;
    position: relative;
    display: none;
    flex: 1;

    > * {
      height: 100%;
      width: 100%;
    }

    .detailsPlaceholder {
      display: flex;
      flex-direction: column;

      > *:first-child {
        flex-grow: 1;
      }
    }
  }

  .details[data-opened='true'] {
    display: block;
  }

  .list {
    z-index: 0;
    flex: 1;
    position: relative;
    overflow: hidden;

    > div:first-child {
      display: flex;
      flex-direction: row;

      > :first-child {
        margin-right: auto;
      }
    }
  }

  .list[data-opened='true'] {
    display: none;
  }

  .loading {
    flex-grow: 2;
    flex-shrink: 0;
    height: 80vh;
    display: flex;
    > * {
      margin: auto;
    }
  }
}
