.headerContainer {
  --goa-app-header-typography-service-name: var(--goa-font-weight-medium) var(--goa-font-size-5) /
    var(--goa-line-height-3) var(--goa-font-family-sans);
  --goa-app-header-typography-service-name-mobile: var(--goa-font-weight-medium) var(--goa-font-size-3) /
    var(--goa-line-height-1) var(--goa-font-family-sans);

  position: relative;
  border-bottom: 1px solid #dcdcdc;
}

.actions {
  display: flex;

  > .desktop {
    display: none;
  }

  @media (min-width: 768px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: flex;
    }
  }
}

.signoutBadgeWrapper {
  display: inline-block;
  position: relative;
}
