.loadingContainer {
  text-align: center;
  padding: var(--goa-space-2xl);
}

.actions {
  text-align: right;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  gap: var(--goa-space-m);
}

.filters {
  width: 300px;
  flex-shrink: 0;
  padding-top: var(--goa-space-xl);
}

.tableContainer {
  flex: 1;
}

