<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <style>
         @font-face {
         font-family: 'acumin-pro-semi-condensed';
         src: url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/l?subset_id=1&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/d?subset_id=1&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/a?subset_id=1&fvd=n4&v=3") format("opentype");
         font-style: normal;
         font-weight: 400; }
         @font-face {
         font-family: 'acumin-pro-semi-condensed';
         src: url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/l?subset_id=1&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/d?subset_id=1&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/a?subset_id=1&fvd=i4&v=3") format("opentype");
         font-style: italic;
         font-weight: 400; }
         @font-face {
         font-family: 'acumin-pro-semi-condensed';
         src: url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/l?subset_id=1&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/d?subset_id=1&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/a?subset_id=1&fvd=n7&v=3") format("opentype");
         font-style: normal;
         font-weight: 700; }
         @font-face {
         font-family: 'acumin-pro-semi-condensed';
         src: url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/l?subset_id=1&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/d?subset_id=1&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/a?subset_id=1&fvd=i7&v=3") format("opentype");
         font-style: italic;
         font-weight: 700; }
         @font-face {
         font-family: 'acumin-pro-semi-condensed';
         src: url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/l?subset_id=1&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/d?subset_id=1&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/e60e87/00000000000000003b9acb31/27/a?subset_id=1&fvd=n6&v=3") format("opentype");
         font-style: normal;
         font-weight: 600; }
         @page {
         size: letter;
         margin: 25mm 20mm 25mm 20mm;
         }
         html, body {
         width: 210mm;
         font-size: 16px;
         font-family: 'acumin-pro-semi-condensed', sans-serif;
         }
         h1 {
         margin: 0;
         padding: 0;
         line-height: 3.5em;
         font-size: 3em;
         }
         h2 {
         margin: 1.5em 0 0;
         padding: 0;
         line-height: 2.75em;
         color: #333;
         font-size: 2.5em;
         font-weight: 400;
         }
         h3 {
         margin: 1.5em 0 0;
         padding: 0;
         line-height: 2em;
         color: #333;
         font-size: 1.5em;
         font-weight: 400;
         }
         h4 {
         margin: 1.5em 0 0;
         padding: 0;
         line-height: 1.75em;
         color: #333;
         font-size: 1.125em;
         font-weight: 700;
         }
         h5 {
         margin: 1.5em 0 0;
         padding: 0;
         line-height: 1.75em;
         color: #333;
         font-size: 1.125em;
         font-weight: 700;
         }
         p {
         margin: 1.5em 0 0;
         font-size: 1.125em;
         line-height: 1.75em;
         }
      </style>
   </head>
   <body>
      {{content}}
   </body>
</html>