<style>
  h1 {
    font-size: 3em;
  }

  h2 {
    color: #333;
    font-size: 2.5em;
    font-weight: 400;
  }

  h3 {
    color: #333;
    font-size: 1.5em;
    font-weight: 400;
  }

  h4 {
    color: #333;
    font-size: 1.125em;
    font-weight: 700;
  }

  h5 {
    color: #333;
    font-size: 1.125em;
    font-weight: 700;
  }

  p {
    font-size: 1.125em;
    line-height: 1.75em;
  }

  .title {
    font-weight: 700;
    font-size: 1.125em;
  }

  .center {
    width: 100%;
    text-align: center;
  }

  body {
    font-size: 8px;
  }
</style>
<div>
  {{content}}
</div>