components:
  schemas:
    Calendar:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        readRoles:
          type: array
          items:
            type: string
        updateRoles:
          type: array
          items:
            type: string
    CalendarEvent:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        description:
          type: string
        isPublic:
          type: boolean
        isAllDay:
          type: boolean
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        attendees:
          type: array
          items:
            $ref: "#/components/schemas/Attendee"
    Attendee:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        email:
          type: string
          format: email
    CalendarEventCriteria:
      type: object
      properties:
        isPublic:
          type: boolean
        startsAfter:
          type: string
          format: date-time
        endsBefore:
          type: string
          format: date-time
        attendeeCriteria:
          type: object
          properties:
            nameEquals:
              type: string
            emailEquals:
              type: string

/calendar/v1/calendars:
  get:
    tags:
      - Calendar
    description: Retrieves calendars.
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Calendar"

/calendar/v1/calendars/{name}:
  get:
    tags:
      - Calendar
    description: Retrieves a specific calendar.
    parameters:
      - name: tenant
        description: ID of the tenant.
        in: query
        required: false
        schema:
          type: string
      - name: name
        description: Name of the calendar.
        in: path
        required: true
        schema:
          type: string
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Calendar"

/calendar/v1/calendars/{name}/export:
  get:
    tags:
      - Calendar
    description: Retrieves export of calendar and events.
    parameters:
      - name: tenant
        description: ID of the tenant.
        in: query
        required: false
        schema:
          type: string
      - name: name
        description: Name of the calendar.
        in: path
        required: true
        schema:
          type: string
      - name: top
        description: Number of events to return in a page.
        in: query
        required: false
        schema:
          type: number
      - name: after
        description: Cursor for retrieving additional pages.
        in: query
        required: false
        schema:
          type: string
      - name: includeAttendees
        description: Flag indicating if attendees should be included in events.
        in: query
        required: false
        schema:
          type: boolean
      - name: criteria
        description: Criteria for events to retrieve.
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarEventCriteria"
    responses:
      200:
        description: Request completed successfully.

/calendar/v1/calendars/{name}/events:
  parameters:
    - name: name
      description: Name of the calendar.
      in: path
      required: true
      schema:
        type: string
  get:
    tags:
      - Calendar
    description: Retrieves calendar events.
    parameters:
      - name: tenant
        description: ID of the tenant.
        in: query
        required: false
        schema:
          type: string
      - name: top
        description: Number of events to return in a page.
        in: query
        required: false
        schema:
          type: number
      - name: after
        description: Cursor for retrieving additional pages.
        in: query
        required: false
        schema:
          type: string
      - name: criteria
        description: Criteria for events to retrieve.
        in: query
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarEventCriteria"
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                results:
                  type: array
                  items:
                    $ref: "#/components/schemas/CalendarEvent"
                page:
                  type: object
                  properties:
                    after:
                      type: string
                    next:
                      type: string
                    size:
                      type: number
  post:
    tags:
      - Calendar
    description: Creates a new calendar event.
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              start:
                type: string
                format: date-time
              end:
                type: string
                format: date-time
              isPublic:
                type: boolean
            required: [name, start]
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarEvent"

/calendar/v1/calendars/{name}/events/{id}:
  parameters:
    - name: name
      description: Name of the calendar.
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: ID of the event.
      in: path
      required: true
      schema:
        type: string
  get:
    tags:
      - Calendar
    parameters:
      - name: tenant
        description: ID of the tenant.
        in: query
        required: false
        schema:
          type: string
      - name: includeAttendees
        description: Flag indicating if attendees should be included in events.
        in: query
        required: false
        schema:
          type: boolean
    description: Retrieves a calendar event.
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarEvent"
  patch:
    tags:
      - Calendar
    description: Updates a calendar event.
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              start:
                type: string
                format: date-time
              end:
                type: string
                format: date-time
              isPublic:
                type: boolean
              isAllDay:
                type: boolean
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarEvent"
  delete:
    tags:
      - Calendar
    description: Deletes a calendar event.
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                deleted:
                  type: boolean

/calendar/v1/calendars/{name}/events/{id}/attendees:
  parameters:
    - name: name
      description: Name of the calendar.
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: ID of the event.
      in: path
      required: true
      schema:
        type: string
  get:
    tags:
      - Calendar
    description: Retrieves attendees of a calendar event.
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Attendee"
  post:
    tags:
      - Calendar
    description: Creates an attendees of a calendar event.
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
                format: email
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Attendee"

/calendar/v1/calendars/{name}/events/{id}/attendees/{attendeeId}:
  parameters:
    - name: name
      description: Name of the calendar.
      in: path
      required: true
      schema:
        type: string
    - name: id
      description: ID of the event.
      in: path
      required: true
      schema:
        type: string
    - name: attendeeId
      description: ID of the attendee.
      in: path
      required: true
      schema:
        type: string
  get:
    tags:
      - Calendar
    description: Retrieves an attendee of an event.
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Attendee"
  put:
    tags:
      - Calendar
    description: Sets an attendee of an event.
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Attendee"
  delete:
    tags:
      - Calendar
    description: Deletes a calendar event attendee.
    responses:
      200:
        description: Request completed successfully.
        content:
          application/json:
            schema:
              type: object
              properties:
                deleted:
                  type: boolean
