.file-header {
  display: inline-block;
}

.file-tab {
  border: 0px;
}

.file-link-title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  display: inline-block;
}

.file-disable-btn {
  color: red;
  border-color: white;
  border-width: 0px;
  margin-top: 28px;
  padding-left: 14px;
  font-weight: 700px;
}

a:link {
  color: #0070c4;
}

a:visited {
  color: #756693;
}

a:hover {
  color: #004f84;
}

a:focus {
  outline-width: thin;
  outline-style: solid;
  outline-color: #004f84;
  outline-offset: 0px;
}

.external-link {
  width: 22px;
  color: #333333;
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: -2px;
}

.blended-button {
  background: white !important;
  color: black !important;
  border-color: white !important;
  padding: 0px !important;
}
