/* Chat App Global Styles */
@import '@abgov/web-components/index.css';

html,
body {
  margin: 0;
  padding: 0;
  font-family: acumin-pro-semi-condensed, helvetica-neue, arial, sans-serif;
}

* {
  box-sizing: border-box;
}
