VITE_KEYCLOAK_URL=https://access.adsp-dev.gov.ab.ca/auth
VITE_KEYCLOAK_CLIENT_ID=urn:ads:platform:tenant-admin-app
VITE_DEFAULT_REALM=autotest
VITE_TENANT_API_URL=https://tenant-service.adsp-dev.gov.ab.ca
VITE_AGENT_SERVICE_URL=http://localhost:3380
VITE_AGENT_ID=mock-agent
