.chat {
  position: absolute;
  top: 135px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.rooms {
  flex: 1;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  :first-child {
    margin-bottom: auto;
  }
}

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #fff, $alpha: 0.6);
  display: flex;
  p {
    margin: auto;
  }
}
