.rooms {
  padding-left: 0;
  li {
    display: block;
    padding: 12px;
    border-radius: 6px;
    margin: 12px;
    cursor: pointer;
  }
  li.addRoom {
    padding: 12px 0;
  }
  li:not(.addRoom):hover {
    background-color: #fff;
  }
  li[data-selected=true] {
    background-color: #fff;
  }
}

li.addRoom {
  > span {
    display: flex;
    flex-direction: row;
    
    input {
      flex-grow: 1;
      margin: auto 6px auto 0;
    }
    button {
      margin: 0 0 0 6px !important;
    }
  }
}
