@import '../../../../libs/stylesheets/scss/src/lib/app.css';
@import '../../../../libs/stylesheets/scss/src/lib/colors.scss';
@import '../../../../libs/stylesheets/scss/src/lib/goa-core.scss';

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;

  :global(#root) {
    margin: 0;
    height: 100%;
  }
}

main {
  flex: 1;
  position: relative;
}

nav {
  width: 250px;
  border-right: 1px solid var(--goa-color-greyscale-200);
  overflow-x: hidden;
}

.app {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
