name: e2e

on:
  workflow_dispatch:
    inputs:
      APP:
        description: APP to run against.
        required: true
      ENVIRONMENT:
        description: Environment to run against.
        required: true
      TAGS:
        description: Tags of suite of tests to run.
        required: true
jobs:
  e2e:
    runs-on: ubuntu-20.04
    environment:
      name: ${{ github.event.inputs.ENVIRONMENT }}-e2e
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      - name: E2E Test
        uses: ./.github/actions/nx-cypress-e2e
        with:
          app: ${{ github.event.inputs.APP }}
          environment: ${{ github.event.inputs.ENVIRONMENT }}
          tags: ${{ github.event.inputs.TAGS }}
          core-api-client-secret: ${{ secrets.CY_CORE_API_CLIENT_SECRET }}
          core-api-user-password: ${{ secrets.CY_CORE_API_USER_PASSWORD }}
          api-client-secret: ${{ secrets.CY_CLIENT_SECRET }}
          cy-password: ${{ secrets.CY_PASSWORD }}
          cy-password-2: ${{ secrets.CY_PASSWORD2 }}
          cy-password-3: ${{ secrets.CY_PASSWORD3 }}
