name: Pull Request Check

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7'
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: temurin
          cache: maven
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: snok/install-poetry@v1
        with:
          version: '1.6.1'
      - run: npm ci
      # Run with the target branch as the base.
      - name: Build
        uses: ./.github/actions/nx-production-build
        with:
          affected-base: origin/${{ github.base_ref }}
