name: Pull Request Check

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.202
      - uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: temurin
          cache: maven
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: snok/install-poetry@v1
        with:
          version: "1.6.1"
      - run: npm ci
      # Run with the target branch as the base.
      - name: Build
        uses: ./.github/actions/nx-production-build
        with:
          affected-base: origin/${{ github.base_ref }}
